.App {
  text-align: center;
  background-color: #BDBDBD;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .ant-layout-sider{
  max-width: 200px!important;
  width: 200px !important;
  flex: 200px !important;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main{
  background-color: #ebeced
}
.ant-layout.ant-layout-has-sider.css-dev-only-do-not-override-1vtf12y{
  background-color: #ebeced !important

}
.nav-item{
  margin: "0 2em"
}

.App-link {
  color: #61dafb;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-bar{
  /* background-color: #7BB601 !important; */
  /* color: white !important; */
}
.nav-link{
  /* color: white !important; */
}
.ant-layout-sider-children{
  /* width: 120%; */
}
.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-below {
  background-color: #B3CF32 !important;
}
.list-group-item{
  background-color:  #9cbf2d !important;
  color: #403f3f !important;
}
.top-links{
  color: white !important;
}
.top-links:hover{
  color: #0E5B96 !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-menu-title-content{
  /* color: #808080; */
}
.get-to-know-us-heading{
  font-weight: 900;
}
.team-heading{
  color:  #9cbf2d !important;
  font-size: 60px;
  font-weight: bolder;

}
.about-us-heading{
  font-size: 60px;
  font-weight: bolder;
  opacity: 80%;
  color:  #9cbf2d !important;
  /* margin-bottom: 2em; */
  /* margin-top: -2em; */

}
:where(.css-dev-only-do-not-override-1vtf12y).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1vtf12y).ant-menu-light>.ant-menu .ant-menu-item-selected{
  color: #808080;
}
.services-btn.btn.btn-primary{
  background-color: #B3CF32 !important;
  border-color:#B3CF32 !important;
}
.services-btn.btn.btn-primary:hover{
  background-color: #808080 !important;
  border-color:#808080 !important;

}
@media only screen and (min-width: 768px) {
  body {
    font-size: 50px;
  }
}
.nav-icon{
  vertical-align: -webkit-baseline-middle !important;
}
.image-container {
  position: relative;
  /* display: inline-block; */
}
.intern-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 1;
  color:  #B3CF32 !important;
}
.intern-caption p {
  /* font-size: 16px; */
    /* font-family: futura-pt; */
    font-weight: 700;
    font-style: normal;
    letter-spacing: -.06em;
    text-transform: none;
    line-height: 1em;
    opacity: 80%;
}
.openning-text{
  white-space: pre-wrap;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  letter-spacing: -.01em;
  line-height: 1em;
  text-transform: none;
}
.big-text{
  margin: 5em 0 2em 0;
}
.small-text{
  font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.8em;
    text-transform: none;
    color: rgba(112,112,112,.5);
}
.apply{
  font-family: futura-pt;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .24em;
}
.description{
  margin: 5em 0;
}
@media screen and (max-width: 640px){
  .big-text {
    font-size: 28px;
    letter-spacing: -.008px;
    margin: 0;
}
}
